/********************************************
    GENERAL STYLES
********************************************/


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************
    UTILITIES
********************************************/
.debug {
    border: 2px dotted red;
}

/********************************************
    LAYOUT
********************************************/


body {
    background-color: #dddbd5;
}

.card {
    object-fit: contain;
    transition: transform 1s;
}

.card:hover {
    object-fit: contain;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #918a76;


}